{% import 'bootstrap/wtf.html' as wtf %}


<div class="row">
    <div style="float: left;">
        <button id="share_button">Share your library !!</button>
        <div>
            {{ wtf.quick_form(form, action='share', id='share_lib', extra_classes='form_preview') }}
        </div>
    </div>
    <div>
        <button id="add_button">Add New Book !!</button>
        <div>
            {{ wtf.quick_form(form2, action='add', id='add_book', extra_classes='form_preview') }}
        </div>
    </div>
</div>
<br/>
<br/>
<table id="booksTable">
    <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Date Purchased</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td><a href="{{ url_for('main.update_book', id=book.id) }}">{{ book.author }}</a></td>
            <td>{{ book.title }}</td>
            <td>{{ book.purchased }}</td>
            <td>{{ book.notes }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br/>